body {
    background:rgb(210,250,210) url(img/money.jpg) repeat-y left;
    margin:0 150px;
   }
   h2 {
    text-align:center;
    font:bold 1.5em "Cooper Black";
    color: blue;
   }
   /* Estilos para el formulario de captura de datos */
   fieldset {
    background-color:rgb(5, 20, 85);
    width:30%;
    position:relative;
    left:50%;
    margin:1em 0;
    margin-left:-20%;
    padding:1em;
    border:1px solid blue;
   }
   span, label, legend {
    font:bold 10pt "Bell MT";
    color:Gold;
    background-color:rgb(5,20,85);
   }
   label {
    display:block;
   }
   input.inputField {
    width:200px;
    background-color:rgb(205,250,205);
    font:bold 10pt Perpetua,sans-serif;
    color:black;
   }
   .inputField:hover, .inputField:focus {
    background-color:Khaki; 
}
input.inputButton {
 width:30%;
 background-color:Orange;
 color:blue;
 font:bold 10pt "Myriad Pro",Verdana,sans-serif;
 position:relative;
 left:12%;
 margin:4px 10px;
}
.inputButton:hover, .inputButton:focus{
 background-color:Black;
 color:blue;
}
/* Estilos para la boleta de pago */
table {
 border-collapse:collapse;
 border:4px ridge rgb(4, 8, 252);
 padding:10px;
}
table tr {
 border-collapse:collapse;
 border:1px solid rgb(111, 4, 252);
}
table td {
 font:normal 10pt "Lucida Sans",Verdana,Helvetica,sans-serif;
 color:rgb(238, 8, 8);
 padding:5px;
} 